.containerFoot {
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  background-color: black;
  width: 100%;
  top: 820px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;

}


.containerFoot img{
    width: 200px;
    height: 200px;

}

.containerFoot p{
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}