.container {
  width: 100%;
  height: 30px;
  background-image: url('../../media/header.jpg');
  background-size: cover;
  background-position: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  box-sizing: border-box;
  padding: 20px;
  position: relative;
  z-index: 9999;
}
